{% extends "base.html" %}
{% block content %}
<section class="form-edit">
<div class="row">
<h2> About us </h2>
<p style="color:black">Founded in 2021, Vektor Research is an independent research company, which will focus on research and advisory service.
The big idea comes from the need of independent opinions and a research institution that promotes independency.
We realize that there are so many, or perhaps too many, stocks to cover, yet manpower to cover stocks is indeed limited.<br><br>
We will focus on long-tail strategy, while we also plan to introduce alternative-data-powered research to complement your research.
Do you need us to solve your problems? Or perhaps, do you need a specifically-tailored research to suit your needs? We plan to assist you in the near future.<br><br>
Our team plans to provide you with other independent opinions from direct or podcast-type interviews, which, we hope, will help you gain more insights.<br>
</p>
<br>
</div>
</section>
{% endblock %}