{% extends "base.html" %}
{% block content %}
<section class="form-edit">
<div class="row">
<h2> About us </h2>
<p style="color:black">Founded in 2021, Vektor Research is an independent research company, which will focus on research publications and on-demand service.
The big idea comes from the need of independent opinions and a research institution that promotes independency.<br><br>
We will focus on long-tail strategy, while we also plan to introduce alternative-data-powered research to complement your research.
Do you need us to solve your problems? Or perhaps, do you need a specifically-tailored research to suit your needs? We plan to assist you in the near future.<br><br>
Our team plans to provide you with other independent opinions from direct or podcast-type interviews, which, we hope, will help you gain more insights to help make sound investment decisions.<br><br>
For now, we regularly publish our thoughts for <a href="https://seekingalpha.com/author/vektor-research#regular_articles">Seeking Alpha</a>.
</p>
<br>
</div>
</section>
{% endblock %}