{% extends "base.html" %}
{% block content %}

<section class="form-edit">
    <div class="row">
        <div class="display">

        <p href="{{ url_for('research_page', page_id=content.id) }}">{{content.date_submit.strftime('%d-%m-%Y %H:%M')}} (GMT+0)</p><br>
        <h3>{{content.title}}</h3>
        <p style= "color: black">{{content.summary | safe}}</p><br><br>

        <a href="{{ url_for('upload_research', page_id=content.id) }}">Download PDF</a>
        </div>

    </div>
</section>
{% endblock %}