{% extends "base.html" %}
{% block content %}
<section class="form-edit">
    <div class="row">
        <div class="alert">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <strong>{{ message }}
              
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <br>
        <form method="post">
            {{form.hidden_tag()}}
            {{form.password.label}} <br> {{form.password()}}<br><br>
            {{form.pass_confirm.label}} <br> {{form.pass_confirm()}}
            {{form.submit()}}
            <br><br>
            <ul>
                {% for error in form.password.errors %}
                <li style="color:red;">{{error}}</li>
                {% endfor %}
            </ul>
        </form>
    </div>
</section>
{% endblock %}